@font-face {
    font-family: 'Poppins';
    src: url('fonts/poppins-light.otf') format('opentype');
}

body, html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.PageHeader {
    position: absolute;
    font-family: Poppins;
    top: 0;
    background-color: white;
    width: 100%;
    height: 64px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.HeaderUser {
    cursor: pointer;
    padding-right: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.HeaderText {
    color: #696969;
    transition: all 0.1s;
}

.HeaderText:hover {
    color: #0176d3;
    cursor: pointer;
}
.headerLink{
    text-decoration: none;
    color: #696969
}
.headerLink:hover{
    color: #0176d3;
    cursor: pointer;
}

.MainDisplay{
    position: relative; 
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.SideInformation {
    display: flex;
    flex-direction: column;
    position: relative;
    font-family: Poppins;
    position: relative;
    z-index: 2;
    height: 100%;
    width: 300px;
    background-color: #F4F9F9;
}
.HeaderLogo {
    padding-bottom: 40px;
    width: 100%;
    padding-right: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.logo {
    width: 170px;
}

.SideInformationBG {
    width: 200px;
    height: 32px;
    border-radius: 3px;
    text-align: center;
    /*background-color: #92B4EC;*/
    font-size: 18px;
    color: #686868;
    /*color: white;*/
    transition: all 0.1s;
    align-self: center;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 40px;
}
.SideInformationText{
    padding-left: 25px;
}

.Templates {
    overflow: hidden;
    overflow-y: scroll;
    margin-left: 130px;
    margin-top: 64px;
    left: 50px;
    width: 100%;
    height: calc(100% - 125px);
    display: flex;
    flex-direction: column;
    font-family: Poppins;
    padding-top: 50px;
}
.Templates::-webkit-scrollbar{
    height: 0;
    width: 0;
}
.signout {
    position: absolute;
    bottom: 30px;
    width: 200px;
    height: 28px;
    border-radius: 3px;
    text-align: center;
    /*background-color: #92B4EC;*/
    background-color: none;
    font-size: 18px;
    color: #686868;
    /*color: white;*/
    transition: all 0.1s;
    align-self: center;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: 0.2s;
    border: none;
    background: none;
}
.signoutIcon{
    height: 20px;
    padding-right: 10px;
}
.signoutarrow {
    color: #374151;
    transition: 0.2s;
}
.signouthouse {
    color: #a8acb4;
    transition: 0.2s;
}
.signout:hover .signoutarrow, .signout:hover {
    transition: 0.12s;
    color: #92B4EC;
}
.signout:hover .signouthouse{
    transition: 0.12s;
    color: #b1bedc;
}
.signout:focus {
    background-color: #92B4EC;
    transition: 0.2s;
    color: white;
}
.signout:focus .signoutarrow{
    color: white;
    transition: 0.2s;
}
.signout:focus .signouthouse{
    color: #a8acb4;
    transition: 0.2s;
}



.TextAndImage {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.ButtonToTemplates {
    position: relative;
    width: 900px;
    height: 180px;
    border-radius: 6px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin-top: 70px;
    background-color: #f4f6f9;
    margin-bottom: 70px;
}
.BTTinformation{
    position: relative;
    width: 100%;
    height: 70px;
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.BTTinformation p{
    cursor: pointer;
}
.BTTinformationName {
    font-size: 20px;
    font-weight: bold;
    padding-left: 22px;
    transition: transform 0.2s;
}
.BTTinformationName:hover {
    transform: scale(1.02);
}
.BTTinformationID {
    font-size: 15px;
    padding-left: 22px;
}
.delete {
    height: 30px;
    position: absolute;
    right: 20px;
    cursor: pointer;
    transition: 0.2s;
    transform: scale(1);
}
.delete:hover{
    transition: 0.2s;
    transform: scale(1.1);
}
.deleteConfirm {
    position: absolute;
    right: -25px;
    margin-top: 100px;
    height: 40px;
    width: 120px;
    background-color: #FF9B9B;
    border-radius: 8px;
    text-align: center;
    display: none;
    align-items: center;
    justify-content: center;
    transition: background-color 0.15s;
    transition: opacity 0.15s;
}
.deleteConfirm p{
    color: white;
    padding-top: 0px;
}
.deleteConfirm:hover{
    background-color: #fb6060;
}

.CreateTemplate {
    margin-top: 40px;
    width: 900px;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}
.CreateTemplate p{
    cursor: pointer;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 16px;
    padding-right: 16px;
    background-color: #f3f4f6;
    border-radius: 20px;
    color: black;
    transition: 0.15s;
}
.CreateTemplate p:hover{
    transition: 0.15s;
    color: white;
    background-color: #92b4ec;
}

.newTemaplatePopout {
    margin-top: 170px;
    position: absolute;
    width: 800px;
    height: 560px;
    z-index: 4;
    background-color: white;
    border-radius: 8px;
    font-family: Poppins;
    overflow: hidden;
}
.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 3;
    display: none;
/*    background-color: #eaebed73;*/
}

.NTheader {
    position: relative;
    padding-left: 65px;
    padding-top: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: bold;
    font-size: 34px;
}

.backButton {
    height: 30px;
    position: absolute;
    right: 40px;
    align-self: center;
    cursor: pointer;
    transform: scale(1);
    transition: 0.2s;
}
.backarrow {
    fill: #374151;
}
.backButton:hover .backarrow {
    fill: #92B4EC;
    transition: 0.2s;
}
.backButton:hover {
    transform: scale(1.1);
    transition: 0.2s;
}

.NTinputs {
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    padding-left: 65px;
    padding-top: 5px;
    
}
.nameInput{
    position: relative;
    width: 450px;
    overflow: hidden;
}
.NTinputs input {
    width: 100%;
    outline: none;
    border: none;
    padding-top: 30px;
    border: none;
    font-size: 17px;
}
.nameStyle{
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-bottom: 1px solid black;
}
.nameStyle::after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    border-bottom: 3px solid #5fa8d3;
    left: 0px;
    bottom: -1px;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
}
.inputext{
    position: absolute;
    bottom: 5px;
    transition: all 0.3s ease;
}

.NTinputs input:focus + .nameStyle .inputext {
    transform: translateY(-100%);
}
.NTinputs input:valid + .nameStyle .inputext {
    transform: translateY(-100%);
}
.NTinputs input:focus + .nameStyle::after, NTinputs input:valid + .nameStyle::after {
    transform: translateX(0%);
}

/*select box style*/
.NTfileDimensions{
    margin-top: 35px;
    font-family: Poppins;
}
.selectDisplay {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    position: relative;
    width: 220px;
    height: 40px;
}

.selectBox {
    border: none;
    appearance: none;
    padding: 0 30px 0 15px;
    width: 100%;
    color: white;
    background-color: #92B4EC;
    font-size: 16px;
}

.selectIcon {
    width: 45px;
    height: 100%;
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #6886C5;
    pointer-events: none;
}

.selectIcon svg {
    width: 23px;
    pointer-events: none;
}
/*Template's Name already taken*/
.NameTaken {
    width: 100%;
    color: red;
    position: absolute;
    font-size: 12px;
    margin-left: 2px;
    font-family: Poppins;
    display: none;
    margin-top: 55px;
}
.pageDimensions {
    color: #aaa;
    padding-left: 15px;
    font-size: 12px;
    font-family: Poppins;
    width: 100%;
    position: absolute;
    margin-top: 250px;
}


/*Help Center*/
.HelpText{
    font-size: 14px;
}
.HelpCode{
    width: 1000px;
    height: 760px;
}